<div class="head-area">
  <div class="head-content">
    <div class="info-area col-md-8">
      <h1>Start your Adventure now!</h1>
      <p class="lead">Pirate-Tale is the only Pirate Browsergame based on NodeJS. Create your own character, join or create crews, eat devil fruits, join tourneys and play with your friends. No download required. <br />
      Join for <span class="green">free<span>.
      </p>
    </div>
    <div class="right-section col-md-4">
      <div class="reglog-panel">
        <div class="reglog-header">
          <span>New to Pirate-Tale? Sign up.</span>
        </div>
        <form method="post">
          <input type="text" placeholder="Username" />
          <input type="text" placeholder="E-Mail Adress" />
          <input type="text" placeholder="Password" />
          <input type="text" placeholder="Verify Password" />
          <a class="btn btn-default register" href="#" type="submit">Join now for free</a>
        </form>
        <div class="reglog-footer">
          <span>I already have an account, log me in!</span>
        </div>
      </div>
    </div>
  </div>
  <div class="video">
    <div class="overlay">
    </div>
  </div>
</div>
<!-- head video end -->

<div class="content-box row">
  <div class="col-md-3">
    <img src="img/example_yellow.jpg">
  </div>
  <div class="col-md-9">
    <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.</p>
  </div>
</div>